
<p>Bang du lieu</p>


<table class="table">
  <thead class="bg-warning text-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Tên cây thuốc</th>
      <th scope="col">Chi tiết cây</th>
      <th scope="col">Số lượng</th>
      <th scope="col">Giá thành</th>
      <th scope="col">Chỉnh sửa</th>

      <th scope="col">Xóa</th>
    </tr>
  </thead>
  <tbody>
  <% @cay_thuoc_nams.each do |caythuoc| %>
    <tr>
      <th scope="row"><%= caythuoc.id %></th>
      <td>
      <a href="<%= cay_thuoc_nam_path(caythuoc) %>">
        <%= caythuoc.ten %>
      </a>
      </td>
      <td><%= caythuoc.chitiet %></td>

      <td><%= caythuoc.soluong %></td>

      <td><%= caythuoc.giathanh %></td>

      <td><%= link_to "Edit", edit_cay_thuoc_nam_path(caythuoc) %></td>
      <td><%= link_to "Dele", cay_thuoc_nam_path(caythuoc), data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
      } %></td>
    </tr>
  <% end %>
    
  </tbody>
</table>